#SLIDES{
	padding-bottom:30px;
}
#slides{
	margin:0.8;
	text-align:center;
	max-width:620px;
	max-height:620px;
	margin: 0 auto;
	margin-top: 150px;
	padding:35px;	
	word-spacing: 0px;
	background: #fcfcee;
}
img.slide{
	width: 155px;
	height: 155px;
	border-radius:3px;
	}

@media screen and (max-width: 980px) {
#slides{
	max-width:590px;
	max-height:590px;
}
img.slide{
	width: 147px;	
	height: 147px;
	border-radius:2px;
}
}
@media screen and (max-width: 650px) {
#slides{
	max-width:420px;
	max-height:420px;
}
img.slide{
	width: 105px;	
	height: 105px;
	border-radius:1px;
}
}
@media screen and (max-width: 480px) {
#slides{
	max-width: 260px;
	max-height:260px;
	padding-bottom:30px;
}
img.slide{
	width: 130px;	
	height: 130px;
	border-radius:1px;
}
.slick-dots
{
    bottom: -52px !important;
}
